@import './ColorsAndDesign.scss';


.mynavbar {
    display: flex;
    position: relative;

    > ul {
        list-style-type: none;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
        > li {
            .nav_item_content_dropdown_li_1,
            .nav_item_content_dropdown_li_2 {
                list-style-type: none;
                    text-align: center;
            } 
      }
    }
}


/*#region Navbar Dropdown*/

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: $wkd-darkgrey;
    padding: .5rem;
}

/* Links inside the dropdown */
.dropdown_content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: .5rem;
}

.dropdown:hover .navbar_link_content_dropdown {
    transition: all .5s;
    color: $wkd-orange;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.dropdown_content a:hover  {
    transition: all .5s;
    color: $wkd-orange;
    transform: scale(1.1);
}

/*#endregion*/



/*#region Transitions */

.nav_item_home,
.nav_item_about {
    > a:hover {
        transition: all 1s;
        color: $wkd-orange;
    }
}


/*#endregion*/



/*#region Animations */

// ? Dropdown-Box animation

.dropdown:hover .dropdown_content {
    animation: dropdown_box_animation infinite 20s;
    border: solid 2px $wkd-pinkviolett;
    border-radius: 1rem;
}

@keyframes dropdown_box_animation {
    0% { border-color: $wkd-pinkviolett}
    25% { border-color: $wkd-orange}
    50% { border-color: white}
    75% { border-color:$wkd-pinkviolett}
}


/*#endregion*/